@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main container for the About Us content -->
<div class="about-container">
    <h1 class="display-4 bakfont">About ABC Retailers</h1>
    <p class="lead bakfont">
        ABC Retailers was founded by two passionate football enthusiasts, Eden Hazard and Frank Lampard. They didn’t want to settle for the normal 9-5 jobs. Instead, they followed their passion for football and their love for collecting football shirts.
    </p>
    <p class="bakfont">
        What started as a hobby, collecting shirts from their favorite teams and players, soon became a business idea. They realized that there were many others who shared their passion, and ABC Retailers was born. Today, ABC Retailers is dedicated to bringing the best and most unique football shirts to fans all over the world.
    </p>
    <p class="bakfont">
        Whether you're looking for a vintage classic or the latest kit from your favorite club, ABC Retailers has something for every football fan. We're more than just a retailer; we're a community of football lovers who believe in the beautiful game.
    </p>
</div>
