@{
    ViewData["Title"] = "Home Page";
   
}
<!-- Home Page text and container-->
<body class="home-page">
    <div class="home-container">
        <h1 class="display-4 bakfont">ABC RETAILERS</h1>
        <p class="bakfont">wear the history play the future</p>
        <br />
        <br />
        <!-- Shop Now container-->
        <a href="@Url.Action("Index", "Product")" class="landscape-card">
            <img src="~/images/shirts.jpg" alt="New Collection" class="landscape-card-img">
            <div class="landscape-card-body">
                <h2 class="bakfont">SHOP OUR <br> NEW COLLECTION</h2>
            </div>
        </a>
    </div>

</body>
